.bgc{
    background-color: #dadaea;
    background-image: linear-gradient(270deg, #dadaea 0%, #dcdfe2 25%, #c9c1c1 100%);
}
.bg-img{
    background-image: url(../images/index.jpg);
    background-size: 100% 100%;
    background-position:right;
}
.name{
    width: 546px;
    color:whitesmoke;
    border-style: solid;
    text-align: center;
    font-size: 30px;
    border-color: #bfbfbf;
    border-width: 1px;
    border-radius: 8px;
    padding: 10px;
}

.color-setting{
    background-color: #5470c6;
}
.color-stop{
    background-color: #ee6666;
}
.color-free{
    background-color: #fac858;
}
.color-offline{
    background-color: #abadb4;
}
.color-operate{
    background-color: #91cc75;
}

.zhuangT{
    font-size: 15px;
}
.zhuangT0{
    color: white;
    background-color: #333333;
    padding: 3px;
    margin: 0 0 0 10px
}

.span1{
    font-size: 20px;
    text-align: left;
    padding: 0px 20px 20px;
}
.span2{
    /*color: #888888;*/
}
.span3{
    font-size: 20px;
    text-align: left;
    margin: -10px 15px 15px 15px
}

.img1{
    float: left;
    margin-left: 3px;
    border-radius: 6px;
    box-shadow: #333333 3px 3px
}

.card-shadow{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}