<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>工业大数据平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="This is an industrial big data platform page" name="description"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico"><!-- jquery.vectormap css -->
    <link href="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/><!-- DataTables -->
    <link href="../static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="../static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/><!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css"/><!-- App Css-->
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
    <link href="../static/css/diy.css" rel="stylesheet" type="text/css"/>
</head>

<body data-sidebar="dark" class="bgc"><!-- Begin page -->
<body id="layout-wrapper">

    <!--topbar and leftbar start-->
    <div th:include="~{common::TopAndLeft}"></div>
    <!--topbar and leftbar end-->

    <!-- Start right Content here --><!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!--设备警告展示块-->
                <!--    OP40、OP50            -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">设备报警记录</h4>
                        </div>
                    </div>
                    <!--  OP40-车床 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_OP40.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_OP40.get(2)}"></i>OP40-车床</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_OP40.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='OP40-车床'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  OP50-车床 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_OP50.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_OP50.get(2)}"></i>OP50-车床</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_OP50.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='OP50-车床'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <!--    OP60、OP70            -->
                <div class="row">
                    <!--  OP60-立加 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_OP60.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_OP60.get(2)}"></i>OP60-立加</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_OP60.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='OP60-立加'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  OP70-立加 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_OP70.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_OP70.get(2)}"></i>OP70-立加</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_OP70.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='OP70-立加'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <!--    PLC-1、PLC-2            -->
                <div class="row">
                    <!--  总控PLC-1 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_PLC1.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_PLC1.get(2)}"></i>总控PLC-1</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_PLC1.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='总控PLC-1'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  总控PLC-2 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_PLC2.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_PLC2.get(2)}"></i>总控PLC-2</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_PLC2.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='总控PLC-2'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <!--    测量机、打标机            -->
                <div class="row">
                    <!--  测量机 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_measure.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_measure.get(2)}"></i>测量机</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_measure.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='测量机'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  打标机 -->
                    <div class="col-lg-5 border-light border card">
                        <div class="card text-white-50" th:classappend="${status_target.get(1)}"><!---->
                            <div class="card-body"><h5 class="mt-0 mb-4 text-white"><i
                                    class="mdi mr-3" th:classappend="${status_target.get(2)}"></i>打标机</h5><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;[<span th:text="${status_target.get(0)}"]></span></span><!---->
                                &nbsp;&nbsp;<span class="zhuangT0">&nbsp;无锡职业技术学院</span>
                            </div>
                        </div>
                        <div class="span3 pre-scrollable" style="height:200px">
                            <div th:each="item:${lists}">
                                <div th:if="${item.getDeviceName()=='打标机'}">
                                    <span class="fas fa-bell"></span>&nbsp;&nbsp;编号：<span class="span2" th:text="${item.getWarnId()}">报警ID</span>
                                    <span class="span2 " style="float:right;margin-right: 20px" th:text="${item.getWarnTime()}">报警时间</span></br>
                                    <span class="fas fa-file-alt"></span>&nbsp;&nbsp;信息：<span class="span2" th:text="${item.getWarnInformation()}">报警信息</span></br>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

            </div><!-- container-fluid --></div>
    </div><!-- end main content--></div>
<!-- Right Sidebar -->

    <!-- JAVASCRIPT -->
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/libs/metismenu/metisMenu.min.js"></script>
    <script src="../static/libs/simplebar/simplebar.min.js"></script>
    <script src="../static/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
    <script src="../static/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
    <script src="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="../static/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- Required datatable js -->
    <script src="../static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="../static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="../static/js/pages/dashboard.init.js"></script>
    <script src="../static/js/app.js"></script>

</body>
</html>