<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>工业大数据平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="This is an industrial big data platform page" name="description" />
    <link rel="shortcut icon" href="../static/images/favicon.ico"><!-- jquery.vectormap css -->
    <link href="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" /><!-- DataTables -->
    <link href="../static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Responsive datatable examples -->
    <link href="../static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /><!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" /><!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css" /><!-- App Css-->
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="../static/css/diy.css" rel="stylesheet" type="text/css"/>
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/graph/outputAnalysis.js"></script>
</head>

<body data-sidebar="dark" class="bgc">
<!-- Begin page -->
<div id="layout-wrapper">

    <!--topbar and leftbar start-->
    <div th:include="~{common::TopAndLeft}"></div>
    <!--topbar and leftbar end-->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between" style="margin-bottom: -20px">
                            <h4 class="mb-0">设备产量计数分析</h4>
                            <!--           无用的右侧标题                 -->
                            <!--                            <div class="page-title-right">-->
                            <!--                                <ol class="breadcrumb m-0">-->
                            <!--                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nazox</a></li>-->
                            <!--                                    <li class="breadcrumb-item active">Dashboard</li>-->
                            <!--                                </ol>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div><!-- end page title -->
                <div class="card">
                    <div class="card-body">
                        <div class="float-right d-none d-md-inline-block">
                            <div class="btn-group mb-2"></div>
                        </div>
                        <!--                        <h4 class="card-title mb-4">整线小时产量</h4>-->
                        <div id="outputAnalysis" style="width: 800px; height: 400px; margin: 50px auto auto;"></div>
<!--                        <script type="text/javascript">-->
<!--                            // 基于准备好的dom，初始化echarts实例-->
<!--                            var myChart = echarts.init(document.getElementById('main'));-->

<!--                            // 指定图表的配置项和数据-->
<!--                            var option = {-->
<!--                                title: {-->
<!--                                    text: '设备年产量分布',-->
<!--                                },-->
<!--                                tooltip: {-->
<!--                                    trigger: 'axis'-->
<!--                                },-->
<!--                                legend: {-->
<!--                                    data: '设备产量'-->
<!--                                },-->
<!--                                toolbox: {-->
<!--                                    show: true,-->
<!--                                    feature: {-->
<!--                                        mark: {show: true},-->
<!--                                        dataView: {show: true, readOnly: false},-->
<!--                                        magicType: {show: true, type: ['line', 'bar']},-->
<!--                                        restore: {show: true},-->
<!--                                        saveAsImage: {show: true}-->
<!--                                    }-->
<!--                                },-->
<!--                                calculable: true,-->
<!--                                xAxis: [-->
<!--                                    {-->
<!--                                        type: 'category',-->
<!--                                        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']-->
<!--                                    }-->
<!--                                ],-->
<!--                                yAxis: [-->
<!--                                    {-->
<!--                                        type: 'value'-->
<!--                                    }-->
<!--                                ],-->
<!--                                series: {-->
<!--                                    name: '设备产量',-->
<!--                                    type: 'bar',-->
<!--                                    data: [3453, 2978, 2296, 3332, 3669, 3218, 2991, 3387, 3427, 3188, 2950, 2785],-->
<!--                                    markPoint: {-->
<!--                                        data: [-->
<!--                                            {type: 'max', name: '最大值'},-->
<!--                                            {type: 'min', name: '最小值'}-->
<!--                                        ]-->
<!--                                    },-->
<!--                                    markLine: {-->
<!--                                        data: [-->
<!--                                            {type: 'average', name: '平均值'}-->
<!--                                        ]-->
<!--                                    }-->
<!--                                }-->
<!--                            };-->

<!--                            // 使用刚指定的配置项和数据显示图表。-->
<!--                            myChart.setOption(option);-->
<!--                        </script>-->


                    </div><!-- container-fluid -->
                </div>

            </div>
        </div>
    </div><!-- end row -->




    <div class="card">


</div>



<!-- End Page-content -->



<!-- end main content-->
<!-- END layout-wrapper -->
<!-- Right Sidebar -->


<!-- JAVASCRIPT -->
<script src="../static/libs/metismenu/metisMenu.min.js"></script>
<script src="../static/libs/simplebar/simplebar.min.js"></script>
<script src="../static/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../static/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script><!-- Required datatable js -->
<script src="../static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/pages/dashboard.init.js"></script>
<script src="../static/js/app.js"></script>

</body>

</html>>
