<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>工业大数据平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="This is an industrial big data platform page" name="description"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico"><!-- jquery.vectormap css -->
    <link href="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/><!-- DataTables -->
    <link href="../static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="../static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/><!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css"/><!-- App Css-->
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/graph/realTime_graph.js"></script>
</head>



<body data-sidebar="light">
<!-- Begin page -->
<div id="layout-wrapper">

    <!--topbar and leftbar start-->
    <div th:include="~{common::TopAndLeft}"></div>
    <!--topbar and leftbar end-->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div id="OP40" style="width: 800px; height: 400px; margin: 100px auto auto"></div>
<!--    <script type="text/javascript">-->
<!--        var chartDom = document.getElementById('graph');-->
<!--        var myChart = echarts.init(chartDom);-->
<!--        var option;-->


<!--        // 创建变量接收数据-->
<!--        var time = [];-->
<!--        var output = [];-->

<!--        //AJAX接收数据主体-->
<!--        $.ajax({-->
<!--            type:"GET",-->
<!--            url:"/OP40",-->
<!--            dataType:"json",-->
<!--            async:false,-->
<!--            success:function (result) {-->

<!--                for (var i = 0; i < result.length; i++){-->
<!--                    time.push(result[i].time);-->
<!--                    output.push(result[i].output);-->
<!--                }-->

<!--            },-->
<!--            error :function(errorMsg) {-->
<!--                alert("获取后台数据失败！");-->
<!--            }-->
<!--        });-->

<!--        option = {-->
<!--            title: {-->
<!--                text: 'OP40产出'-->
<!--            },-->
<!--            tooltip: {-->
<!--                trigger: 'axis'-->
<!--            },-->
<!--            legend: {-->
<!--                data: 'output'-->
<!--            },-->
<!--            grid: {-->
<!--                left: '3%',-->
<!--                right: '4%',-->
<!--                bottom: '3%',-->
<!--                containLabel: true-->
<!--            },-->
<!--            toolbox: {-->
<!--                feature: {-->
<!--                    saveAsImage: {}-->
<!--                }-->
<!--            },-->
<!--            xAxis: {-->
<!--                type: 'category',-->
<!--                boundaryGap: false,-->
<!--                data: time-->
<!--            },-->
<!--            yAxis: {-->
<!--                type: 'value'-->
<!--            },-->
<!--            series: [-->
<!--                // {-->
<!--                //     name: 'Email',-->
<!--                //     type: 'line',-->
<!--                //     stack: 'Total',-->
<!--                //     data: [120, 132, 101, 134, 90, 230, 210],-->
<!--                //     smooth: true-->
<!--                // },-->
<!--                // {-->
<!--                //     name: 'Union Ads',-->
<!--                //     type: 'line',-->
<!--                //     stack: 'Total',-->
<!--                //     data: [220, 182, 191, 234, 290, 330, 310],-->
<!--                //     smooth: true-->
<!--                // },-->
<!--                // {-->
<!--                //     name: 'Video Ads',-->
<!--                //     type: 'line',-->
<!--                //     stack: 'Total',-->
<!--                //     data: [150, 232, 201, 154, 190, 330, 410],-->
<!--                //     smooth: true-->
<!--                // },-->
<!--                // {-->
<!--                //     name: 'Direct',-->
<!--                //     type: 'line',-->
<!--                //     stack: 'Total',-->
<!--                //     data: [320, 332, 301, 334, 390, 330, 320],-->
<!--                //     smooth: true-->
<!--                // },-->
<!--                {-->
<!--                    name: 'Search Engine',-->
<!--                    type: 'line',-->
<!--                    stack: 'Total',-->
<!--                    data: output,-->
<!--                    smooth: true-->
<!--                }-->
<!--            ]-->
<!--        };-->

<!--        myChart.setOption(option);-->
<!--    </script>-->

    <!-- JAVASCRIPT -->
</div>
<script src="../static/libs/metismenu/metisMenu.min.js"></script>
<script src="../static/libs/simplebar/simplebar.min.js"></script>
<script src="../static/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../static/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
<!-- Required datatable js -->
<script src="../static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/pages/dashboard.init.js"></script>
<script src="../static/js/app.js"></script>

</body>

</html>