<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>工业大数据平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="This is an industrial big data platform page" name="description"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico"><!-- jquery.vectormap css -->
    <link href="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/><!-- DataTables -->
    <link href="../static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="../static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/><!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css"/><!-- App Css-->
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
    <link href="../static/css/diy.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
</head>

<body data-sidebar="dark" class="bgc">
<!-- Begin page -->
<div id="layout-wrapper">

    <!--topbar and leftbar start-->
    <div th:include="~{common::TopAndLeft}"></div>
    <!--topbar and leftbar end-->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between" style="margin-bottom: -20px">
                            <h4 class="mb-0">用时分析</h4>
                            <!--          无用的右侧标题                  -->
                            <!--                            <div class="page-title-right">-->
                            <!--                                <ol class="breadcrumb m-0">-->
                            <!--                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nazox</a></li>-->
                            <!--                                    <li class="breadcrumb-item active">Dashboard</li>-->
                            <!--                                </ol>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div><!-- end page title -->
                <div class="row-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <form class="form-inline" method="post" action="/time_analysis" id="form1"
                                      onsubmit="return a();">
                                    <div class="input-group">
                                        <span style="line-height: 30px;color: white;background-color: #3e96e4;margin-left: 30px">&nbsp;&nbsp;选择日期：</span>
                                        <input type="text" class="form-control input-sm" id="searchStr"
                                               placeholder="按日期搜索..." name="data" style="height: 30px;width: 200px">
                                        <button class="btn btn-success btn-sm" type="submit" style="margin-left: 10px">
                                            查找
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!--                            请输入日期提示框-->
                            <div class="row">
                                <div class="col-md-8" id="nullMsg0"></div>
                            </div>

                            <!--                            查询无结果提示框-->
                            <div class="row">
                                <div class="col-md-8" id="nullMsg"></div>
                            </div>

                            <!--                            饼图框-->
                            <div class="row" style="margin-top: 30px ">
                                <div class="col-md-2">
                                    <div id="main1" style="width: 300px;height:300px;margin-left:40px;"></div>
                                </div>
                                <div class="col-md-2" style="margin-left: 50px">
                                    <div id="main2" style="width: 300px;height:300px;"></div>
                                </div>
                                <div class="col-md-2" style="margin-left: 50px">
                                    <div id="main3" style="width: 300px;height:300px;"></div>
                                </div>
                                <div class="col-md-2" style="margin-left: 50px">
                                    <div id="main4" style="width: 300px;height:300px;"></div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px">
                                <div class="col-md-2" style="margin-left: 140px">
                                    <div id="main5" style="width: 300px;height:300px;"></div>
                                </div>
                                <div class="col-md-2" style="margin-left: 80px">
                                    <div id="main6" style="width: 300px;height:300px;"></div>
                                </div>
                                <div class="col-md-2" style="margin-left: 60px">
                                    <div id="main7" style="width: 300px;height:300px;"></div>
                                </div>
                            </div>

                            <!--                            <div id="main" style="width: 800px;height:400px;margin: auto;margin-top: 100px" ></div>-->
                            <script>
                                function a() {
                                    var val1 = $("#searchStr").val();
                                    if (val1 == "") {
                                        $("#nullMsg0").html("<span style=\"font-size: medium;color: #4b83ff;;margin-left: 50px;\">请输入日期！<span/>");
                                        return false;
                                    } else if ((/^(\d{4}-\d{2}-\d{2})$/).test(val1)) {
                                        return true;
                                    } else {
                                        $("#nullMsg0").html("<span style=\"font-size: medium;color: #ff4b4b;;;margin-left: 50px;\">请输入正确格式！<span/>");

                                        return false;
                                    }
                                }
                            </script>


                            <script th:inline="javascript">
                                let d = [[${dataByTime}]]; //内联表达式获取值
                                if (d.length == 0) {
                                    $("#nullMsg").html("<div style=\"font-size: x-large;color: #ff3535;margin-left: 50px;margin-top: 50px;\">当天无数据记录！</div>");
                                } else {
                                    var data1 = d[0]['date'];
                                    $("#nullMsg").html("<div style=\"font-size: x-large;margin-left: 50px;margin-bottom: -30px;\">" + data1 + "</div>");
                                }
                            </script>


                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart = echarts.init(document.getElementById('main1'));

                                //去掉%号以能转化为数值型
                                d[0]['operate'] = d[0]['operate'].replace(/%/, "");
                                d[0]['free'] = d[0]['free'].replace(/%/, "");
                                d[0]['stop'] = d[0]['stop'].replace(/%/, "");
                                d[0]['offline'] = d[0]['offline'].replace(/%/, "");
                                d[0]['setting'] = d[0]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option = {
                                    title: {
                                        text: d[0]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        x: 'left',
                                        y: 'top',
                                        padding: [0, 100, 0, 0],
                                        data: ['运行', '空闲', '停机', '离线', '设定']
                                    },
                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[0]['operate'], name: '运行'},
                                                {value: d[0]['free'], name: '空闲'},
                                                {value: d[0]['stop'], name: '停机'},
                                                {value: d[0]['offline'], name: '离线'},
                                                {value: d[0]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                            </script>

                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart = echarts.init(document.getElementById('main2'));

                                //去掉%号以能转化为数值型
                                d[1]['operate'] = d[1]['operate'].replace(/%/, "");
                                d[1]['free'] = d[1]['free'].replace(/%/, "");
                                d[1]['stop'] = d[1]['stop'].replace(/%/, "");
                                d[1]['offline'] = d[1]['offline'].replace(/%/, "");
                                d[1]['setting'] = d[1]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option2 = {
                                    title: {
                                        text: d[1]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[1]['operate'], name: '运行'},
                                                {value: d[1]['free'], name: '空闲'},
                                                {value: d[1]['stop'], name: '停机'},
                                                {value: d[1]['offline'], name: '离线'},
                                                {value: d[1]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option2);
                            </script>

                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart3 = echarts.init(document.getElementById('main3'));

                                //去掉%号以能转化为数值型
                                d[2]['operate'] = d[2]['operate'].replace(/%/, "");
                                d[2]['free'] = d[2]['free'].replace(/%/, "");
                                d[2]['stop'] = d[2]['stop'].replace(/%/, "");
                                d[2]['offline'] = d[2]['offline'].replace(/%/, "");
                                d[2]['setting'] = d[2]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option3 = {
                                    title: {
                                        text: d[2]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[2]['operate'], name: '运行'},
                                                {value: d[2]['free'], name: '空闲'},
                                                {value: d[2]['stop'], name: '停机'},
                                                {value: d[2]['offline'], name: '离线'},
                                                {value: d[2]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart3.setOption(option3);
                            </script>

                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart = echarts.init(document.getElementById('main2'));

                                //去掉%号以能转化为数值型
                                d[1]['operate'] = d[1]['operate'].replace(/%/, "");
                                d[1]['free'] = d[1]['free'].replace(/%/, "");
                                d[1]['stop'] = d[1]['stop'].replace(/%/, "");
                                d[1]['offline'] = d[1]['offline'].replace(/%/, "");
                                d[1]['setting'] = d[1]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option2 = {
                                    title: {
                                        text: d[1]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[1]['operate'], name: '运行'},
                                                {value: d[1]['free'], name: '空闲'},
                                                {value: d[1]['stop'], name: '停机'},
                                                {value: d[1]['offline'], name: '离线'},
                                                {value: d[1]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option2);
                            </script>

                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart4 = echarts.init(document.getElementById('main4'));

                                //去掉%号以能转化为数值型
                                d[3]['operate'] = d[3]['operate'].replace(/%/, "");
                                d[3]['free'] = d[3]['free'].replace(/%/, "");
                                d[3]['stop'] = d[3]['stop'].replace(/%/, "");
                                d[3]['offline'] = d[3]['offline'].replace(/%/, "");
                                d[3]['setting'] = d[3]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option4 = {
                                    title: {
                                        text: d[3]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[3]['operate'], name: '运行'},
                                                {value: d[3]['free'], name: '空闲'},
                                                {value: d[3]['stop'], name: '停机'},
                                                {value: d[3]['offline'], name: '离线'},
                                                {value: d[3]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart4.setOption(option4);
                            </script>


                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart5 = echarts.init(document.getElementById('main5'));

                                //去掉%号以能转化为数值型
                                d[4]['operate'] = d[4]['operate'].replace(/%/, "");
                                d[4]['free'] = d[4]['free'].replace(/%/, "");
                                d[4]['stop'] = d[4]['stop'].replace(/%/, "");
                                d[4]['offline'] = d[4]['offline'].replace(/%/, "");
                                d[4]['setting'] = d[4]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option5 = {
                                    title: {
                                        text: d[4]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[4]['operate'], name: '运行'},
                                                {value: d[4]['free'], name: '空闲'},
                                                {value: d[4]['stop'], name: '停机'},
                                                {value: d[4]['offline'], name: '离线'},
                                                {value: d[4]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart5.setOption(option5);
                            </script>

                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart6 = echarts.init(document.getElementById('main6'));

                                //去掉%号以能转化为数值型
                                d[5]['operate'] = d[5]['operate'].replace(/%/, "");
                                d[5]['free'] = d[5]['free'].replace(/%/, "");
                                d[5]['stop'] = d[5]['stop'].replace(/%/, "");
                                d[5]['offline'] = d[5]['offline'].replace(/%/, "");
                                d[5]['setting'] = d[5]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option6 = {
                                    title: {
                                        text: d[5]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[5]['operate'], name: '运行'},
                                                {value: d[5]['free'], name: '空闲'},
                                                {value: d[5]['stop'], name: '停机'},
                                                {value: d[5]['offline'], name: '离线'},
                                                {value: d[5]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart6.setOption(option6);
                            </script>

                            <!--==================================================-->
                            <script th:inline="javascript">
                                // 基于准备好的dom，初始化echarts实例

                                var myChart7 = echarts.init(document.getElementById('main7'));

                                //去掉%号以能转化为数值型
                                d[6]['operate'] = d[6]['operate'].replace(/%/, "");
                                d[6]['free'] = d[6]['free'].replace(/%/, "");
                                d[6]['stop'] = d[6]['stop'].replace(/%/, "");
                                d[6]['offline'] = d[6]['offline'].replace(/%/, "");
                                d[6]['setting'] = d[6]['setting'].replace(/%/, "");

                                // 指定图表的配置项和数据
                                var option7 = {
                                    title: {
                                        text: d[6]['device'],
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },

                                    color: ['#91cc95', '#fac858', '#ee6666', '#abadb4', '#5470c6'],
                                    toolbox: {
                                        show: true,
                                        feature: {
                                            mark: {show: true},
                                            dataView: {show: true, readOnly: false},
                                            magicType: {
                                                show: true,
                                                type: ['pie', 'funnel'],
                                                option: {
                                                    funnel: {
                                                        x: '25%',
                                                        width: '50%',
                                                        funnelAlign: 'left',
                                                        max: 1548
                                                    }
                                                }
                                            },
                                            restore: {show: true},
                                            saveAsImage: {show: true}
                                        }
                                    },
                                    calculable: true,
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: [
                                                {value: d[6]['operate'], name: '运行'},
                                                {value: d[6]['free'], name: '空闲'},
                                                {value: d[6]['stop'], name: '停机'},
                                                {value: d[6]['offline'], name: '离线'},
                                                {value: d[6]['setting'], name: '设定'},
                                            ],
                                            // label: {
                                            //     normal: {
                                            //         position: 'outer',
                                            //         show: true,
                                            //         formatter: '{b}' + ' ' + '{d}%'
                                            //     }
                                            // }
                                        }
                                    ]
                                };
                                // 使用刚指定的配置项和数据显示图表。
                                myChart7.setOption(option7);
                            </script>


                        </div>
                        <div class="row">
                            <table class="table table-hover table-bordered table-striped"
                                   style="width: 800px;height:400px;margin-left: 140px">
                                <thead>
                                <tr>
                                    <th>
                                        统计方式（按天）
                                    </th>
                                    <th>
                                        设备
                                    </th>
                                    <th>
                                        停机
                                    </th>
                                    <th>
                                        运行
                                    </th>
                                    <th>
                                        空闲
                                    </th>
                                    <th>
                                        离线
                                    </th>
                                    <th>
                                        设定
                                    </th>
                                </tr>
                                </thead>
                                <tbody th:each="item:${dataByTime}">
                                <tr>
                                    <td id="td11" th:text="${item.getDate()}">无数据</td>
                                    <td th:text="${item.getDevice()}">无数据</td>
                                    <td th:text="${item.getStop()}">无数据</td>
                                    <td th:text="${item.getOperate()}">无数据</td>
                                    <td th:text="${item.getFree()}">无数据</td>
                                    <td th:text="${item.getOffline()}">无数据</td>
                                    <td th:text="${item.getSetting()}">无数据</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div><!-- end row -->


</div><!-- container-fluid -->


</div><!-- End Page-content -->

<!--日期控件-->
<script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/gijgo.min.js"></script>
<script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/messages/messages.zh-cn.min.js"></script>
<script>
    $("#searchStr").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
</script>


<!-- Right bar overlay-->

<script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/libs/metismenu/metisMenu.min.js"></script>
<script src="../static/libs/simplebar/simplebar.min.js"></script>
<script src="../static/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../static/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
<!-- Required datatable js -->
<script src="../static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/pages/dashboard.init.js"></script>
<script src="../static/js/app.js"></script>
</body>

</html>