<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>工业大数据平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="This is an industrial big data platform page" name="description"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico"><!-- jquery.vectormap css -->
    <link href="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/><!-- DataTables -->
    <link href="../static/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="../static/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/><!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css"/><!-- App Css-->
    <link href="../static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
    <link href="../static/css/diy.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/libs/jquery/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
</head>

<body data-sidebar="dark" class="bgc">
<!-- Begin page -->
<div id="layout-wrapper">

    <!--topbar and leftbar start-->
    <div th:include="~{common::TopAndLeft}"></div>
    <!--topbar and leftbar end-->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between"
                             style="margin-bottom: -20px">
                            <h4 class="mb-0">用时分析</h4>
                            <!--          无用的右侧标题                  -->
                            <!--                            <div class="page-title-right">-->
                            <!--                                <ol class="breadcrumb m-0">-->
                            <!--                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nazox</a></li>-->
                            <!--                                    <li class="breadcrumb-item active">Dashboard</li>-->
                            <!--                                </ol>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div><!-- end page title -->
                <div class="row-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <form class="form-inline" method="post" th:action="@{/time_analysisT}" id="form1"
                                      onsubmit="return a();">
                                    <div class="input-group">
                                        <span style="line-height: 30px;color: white;background-color: #3e96e4;margin-left: 30px">&nbsp;&nbsp;选择日期：</span>
                                        <input type="text" class="form-control input-sm" id="searchStr"
                                               placeholder="按日期搜索..." name="data" style="height: 30px;width: 200px">
                                        <button class="btn btn-success btn-sm" type="submit" style="margin-left: 10px">
                                            查找
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!--                            请输入日期提示框-->
                            <div class="row">
                                <div class="col-md-8" id="nullMsg0"></div>
                            </div>

<!--                            按钮组-->
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="btn-group btn-group-toggle mt-2 mt-xl-0" data-toggle="buttons">
                                        <label class="btn btn-light active"><input type="radio" name="options"
                                                                                   id="option1" ><a class="text-dark"  th:href="@{/time_analysis}">饼图形式</a></label>
                                        <label class="btn btn-light"><input type="radio" name="options"
                                                                            id="option2" checked><a class="text-dark" href="#">表格形式</a></label>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0">

                            <!--                            查询无结果提示框-->
                            <div class="row">
                                <div class="col-md-8" id="nullMsg"></div>
                            </div>


                            <!--                            <div id="main" style="width: 800px;height:400px;margin: auto;margin-top: 100px" ></div>-->
                            <script>
                                function a() {
                                    var val1 = $("#searchStr").val();
                                    if (val1 == "") {
                                        $("#nullMsg0").html("<span style=\"font-size: medium;color: #4b83ff;;margin-left: 50px;\">请输入日期！<span/>");
                                        return false;
                                    } else if ((/^(\d{4}-\d{2}-\d{2})$/).test(val1)) {
                                        return true;
                                    } else {
                                        $("#nullMsg0").html("<span style=\"font-size: medium;color: #ff4b4b;;;margin-left: 50px;\">请输入正确格式！<span/>");

                                        return false;
                                    }
                                }
                            </script>


                            <script th:inline="javascript">
                                let d = [[${dataByTime}]]; //内联表达式获取值
                                if (d.length == 0) {
                                    $("#nullMsg").html("<div style=\"font-size: x-large;color: #ff3535;margin-left: 50px;margin-top: 50px;\">当天无数据记录！</div>");
                                } else {
                                    var data1 = d[0]['date'];
                                    $("#nullMsg").html("<div style=\"font-size: x-large;margin-left: 50px;margin-bottom: -20px;\">" + data1 + "</div>");
                                }
                            </script>



                        </div>
                        <div class="row">
                            <table class="table table-hover table-bordered table-striped"
                                   style="width: 800px;height:400px;margin-left: 140px">
                                <thead>
                                <tr>
                                    <th>
                                        统计方式（按天）
                                    </th>
                                    <th>
                                        设备
                                    </th>
                                    <th>
                                        停机
                                    </th>
                                    <th>
                                        运行
                                    </th>
                                    <th>
                                        空闲
                                    </th>
                                    <th>
                                        离线
                                    </th>
                                    <th>
                                        设定
                                    </th>
                                </tr>
                                </thead>
                                <tbody th:each="item:${dataByTime}">
                                <tr>
                                    <td id="td11" th:text="${item.getDate()}">无数据</td>
                                    <td th:text="${item.getDevice()}">无数据</td>
                                    <td th:text="${item.getStop()}">无数据</td>
                                    <td th:text="${item.getOperate()}">无数据</td>
                                    <td th:text="${item.getFree()}">无数据</td>
                                    <td th:text="${item.getOffline()}">无数据</td>
                                    <td th:text="${item.getSetting()}">无数据</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div><!-- end row -->


</div><!-- container-fluid -->


</div><!-- End Page-content -->

<!--日期控件-->
<script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/gijgo.min.js"></script>
<script src="https://cdn.bootcss.com/gijgo/1.9.13/combined/js/messages/messages.zh-cn.min.js"></script>
<script>
    $("#searchStr").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
</script>


<!-- Right bar overlay-->

<script src="../static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/libs/metismenu/metisMenu.min.js"></script>
<script src="../static/libs/simplebar/simplebar.min.js"></script>
<script src="../static/libs/node-waves/waves.min.js"></script><!-- apexcharts -->
<script src="../static/libs/apexcharts/apexcharts.min.js"></script><!-- jquery.vectormap map -->
<script src="../static/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../static/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
<!-- Required datatable js -->
<script src="../static/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../static/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script><!-- Responsive examples -->
<script src="../static/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../static/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="../static/js/pages/dashboard.init.js"></script>
<script src="../static/js/app.js"></script>
</body>

</html>